.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 15px;
}


@media screen and (max-width: 920px) {.header{ margin-bottom :1%;}}


@media screen and (max-width: 600px) {.header{ margin-bottom :0px;margin-top : 0px; height : 70px;}}